/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5 url('close-de-um-vidro-molhado-refletindo-o-cenario-da-floresta-chuvosa_181624-23365.jpg') center/cover fixed;  color: #333;
}

/* Estilos do cabeçalho (header) */



header {
display: flex;
justify-content: space-between; /* Distribui os itens igualmente na largura do contêiner */
background-color: #11111f; /* Cor de fundo do cabeçalho (preto suavizado) */
color: white;
text-align: center;
padding: 10px;
}

#logo {
max-width: 70px; /* Ajuste o tamanho conforme necessário */
width: 100%;
height: auto;
border-radius: 50%;
margin-right: 10px; /* Adiciona margem à direita da logo */
display: flex;
align-items: center;
}

.logo img {
height: 50px; /* Ajuste a altura conforme necessário */
margin-right: 10px; /* Adiciona um espaçamento à direita da imagem */
}

header h1 {
margin: 0;
}

nav {
background-color: #333;
color: #fff;
padding: 10px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}

nav li {
display: inline;
margin-right: 20px;
}

nav a {
text-decoration: none;
color: #fff;
font-weight: bold;
}
/* Estilos do conteúdo principal (#content) */
#content {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#content h2 {
    color: #333;
}

#content p {
    color: #555;
}

/* Estilos do rodapé (footer) */
footer {
    background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  }
  
/* Estilos do vídeo (video) */
.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos da seção principal (section) */
section {
    max-width: 800px;
    margin: 20px auto 20px; /* Ajuste o valor de margin-bottom conforme necessário */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
